@import 'normalize';

body {
  background: url('../images/weather.png') repeat;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  color: #355198;
  margin-top: 0;
}

.weather-wrapper {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 495.43px;
  background: #355198;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.weather-conditions {
  .weather-description {
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
  }
}

.temp-location {
  .location {
    font-size: 24px;
  }

  .temp {
    font-size: 144px;
    margin: 25px 0;
  }
}